## cross collection comparisons

Use makeCounts.awk to create a csv from multiple Evaluated data csv

create pivot table from resulting dataframe

This notebook allows the user to select multiple data tables, combine and process them with an AWK script in order to create data about the occurrance of content at specific locations and compare them to other collections that use the same dialect.

In [18]:
import pandas as pd
pd.options.display.max_colwidth=200
import subprocess
import os
from os import walk
import numpy as np
from ipykernel import kernelapp as app
from __future__ import print_function
from ipywidgets import *
import ipywidgets as widgets
from IPython.display import display

Creates a list of all the paths to a CSV in the data directory's sub-directories.

In [19]:
DataFiles=[]
for dirpath, dirnames, filenames in os.walk("../data"):
    for filename in [f for f in filenames if f.endswith(".csv")]:
        DataFiles.extend([os.path.join(dirpath, filename)])

Create a dropdown that allows multiple selection using command or click with the mouse or arrow keys to select additional individual data tables, or shift with the mouse to select each choice between the two clicked.

In [21]:
w=widgets.SelectMultiple(
    options=DataFiles,
    value=['../data/BCO-DMO/data2.csv'],
    #rows=10,
    description='Collection Data',
    disabled=False
)

In [22]:
display(w)

Assign the selections from the widget to a list and turn the list into a string, removing the commas and brackets so that the result can be saved and used when calling the script that creates the data.

In [24]:
CollectionComparisons=[]
CollectionComparisons.extend(w.value)
CollectionComparisons
#CollectionsString=" ".join(map(str, CollectionComparisons))
#CollectionsString

['../data/DataONE/CDL_CSDGM_dataAll.csv',
 '../data/DataONE/Dryad_Dryad_dataAll.csv',
 '../data/DataONE/EDACGSTORE_CSDGM_dataAll.csv']

Combine the selected csv and run the script

In [ ]:
! cat $CollectionsString | '../script/makeCounts.sh' > '../CollectionComparisons/data.csv'

/bin/sh: ../CollectionComparisons/data.csv: No such file or directory

Once we add the aggregator script to the Evaluator, then we can apply pivot table

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.pivot_table.html

In [4]:
CombinedEvaluatedMetadataDF = pd.read_csv('../collection/LTERthroughTime/TedData.csv')
CombinedEvaluatedMetadataDF

                              Concept  Collection  ConceptCount  RecordCount
0                   Number of Records        2015           250            0
1                   Number of Records        2016           250            0
2                   Number of Records        2005           248            0
3                   Number of Records        2006           250            0
4                   Number of Records        2007           250            0
5                   Number of Records        2008           250            0
6                   Number of Records        2009           250            0
7                   Number of Records        2010           250            0
8                   Number of Records        2011           250            0
9                   Number of Records        2012           250            0
10                  Number of Records        2013           250            0
11                  Number of Records        2014           250            0
12            Paleo Temporal Coverage        2005             7            7
13            Paleo Temporal Coverage        2007             2            2
14     Author / Originator Identifier        2015           136          135
15     Author / Originator Identifier        2016            75           46
16     Author / Originator Identifier        2005            61           53
17     Author / Originator Identifier        2006            90           49
18     Author / Originator Identifier        2007           137           95
19     Author / Originator Identifier        2008           163           92
20     Author / Originator Identifier        2009           285           99
21     Author / Originator Identifier        2010           215          119
22     Author / Originator Identifier        2011            25           12
23     Author / Originator Identifier        2012           114           80
24     Author / Originator Identifier        2013           199          129
25     Author / Originator Identifier        2014           184           83
26                   Contributor Role        2015            67           25
27                   Contributor Role        2016           468          150
28                   Contributor Role        2005           402          163
29                   Contributor Role        2006           732          121
..                                ...         ...           ...          ...
825               Vertical Resolution        2009           395          104
826               Vertical Resolution        2010            45           45
827               Vertical Resolution        2011           174           41
828               Vertical Resolution        2012            51           20
829               Vertical Resolution        2013            12           10
830               Vertical Resolution        2014            31           15
831  Entity and Attribute Information        2015           155          129
832  Entity and Attribute Information        2016           436          224
833  Entity and Attribute Information        2005           170          109
834  Entity and Attribute Information        2006           244          135
835  Entity and Attribute Information        2007           335          215
836  Entity and Attribute Information        2008           221          174
837  Entity and Attribute Information        2009           360          203
838  Entity and Attribute Information        2010           162           93
839  Entity and Attribute Information        2011           221          116
840  Entity and Attribute Information        2012           185          119
841  Entity and Attribute Information        2013           236          216
842  Entity and Attribute Information        2014           281          147
843                Keyword Vocabulary        2015            74           30
844                Keyword Vocabulary        2016           377          208
845                Keyword Vocabulary        2005           151           69
846                Keyword Vocabulary        2006           156           56
847                Keyword Vocabulary        2007           258          116
848                Keyword Vocabulary        2008           207           97
849                Keyword Vocabulary        2009           469          182
850                Keyword Vocabulary        2010            73           43
851                Keyword Vocabulary        2011           466          168
852                Keyword Vocabulary        2012           240           85
853                Keyword Vocabulary        2013           185          122
854                Keyword Vocabulary        2014           330          168

[855 rows x 4 columns]